<!-- 单图文-star -->
 {%if page.list.length==0 %}
  <div class="no_article">暂无图文消息</div>
 {%endif %}
<div class="appmsg_list tab_body single_msg_wrap" id="gallery-wrapper">
  
    <!--一个素材-star -->
    {%for items in page.list%}
    <div class="js_appmsgitem newsItem" data-id="{{items.id}}">
        <div class="appmsg has_first_cover single">
            <div class="appmsg_content">
                <div class="appmsg_info"><em class="appmsg_date">{{items.update_time|date('m-d H:m:s', -480, 'CCT')}}</em></div> 
                 <!-- 同步信息-star-->
                <div class="syncDescConPad">
                  <ul class="syncDescCon">
                    <li class="syncDesc syncDescTotal" data-status=0>
                      同步总计:<span class="syncDescTotalWord">{{items.task_total_num}}</span>
                    </li>
                    <li class="syncDesc syncDescSuc" data-status=3>
                      成功:<span class="syncDescSucWord">{{items.success_task_num}}</span>
                    </li>
                    <li class="syncDesc syncDescFail" data-status=4>
                      失败:<span class="syncDescFailWord">{{items.failed_task_num}}</span>
                    </li>
                    <li class="syncDesc syncingDesc">
                      同步中:<span class="syncingDescWord" data-status=2>{{items.syncing_task_num}}</span>
                    </li>
                  </ul>
                </div>
                 <!-- 同步信息-end-->
                <div data-idx="1" class="appmsg_item js_article_item"  data-uuid="{{items.uuid}}">
                      <h4 class="appmsg_title js_title">
                        <a href="" target="_blank">{{items.title}}</a>
                      </h4>
                      <div class="appmsg_thumb_wrp" style="background-image:url('{{items.cover_pic}}')"></div>                 
                      <p class="appmsg_desc">{{items.title}}</p>
                      <a class="edit_mask preview_mask js_preview" data-idx="1">
                          <div class="edit_mask_content">
                             <div class="preview_btn_wrap">
                                <span class="preview_btn js_pcView" data-uuid="{{items.uuid}}">
                                   <i class="iconfont icon-pczhuanhuan"></i>
                                </span>
                                <p>pc端预览</p>
                             </div>
                              <div class="preview_btn_wrap">
                                <span class="preview_btn js_phoneView" data-uuid="{{items.uuid}}">
                                   <i class="iconfont icon-phone"></i>
                                </span>
                                 <p>移动端预览</p>
                              </div>
                          </div>
                          <span class="vm_box"></span>
                          <div class="qrcode_wrap"> 
                              <span class="js_closeQrcode"><i class="iconfont icon-close"></i></span>
                          </div>
                     </a>
                 </div>
            </div>
            <div class="appmsg_opr" data-id="{{items.id}}">
               <ul class="clearfix">
                  <li class="appmsg_opr_item">
                     <a target="_blank" class="js_tooltip edit_btn" data-tooltip="编辑" data-uuid="{{items.uuid}}">
                       <i class="iconfont icon-edit"></i>
                       <div class="tooltip">
                          <div class="tooltip_inner">编辑</div>
                          <i class="tooltip_arrow"></i>
                       </div>
                     </a>
                  </li>
                  <li class="appmsg_opr_item">
                     <a target="_blank" class="js_tooltip del_btn" data-tooltip="删除"><i class="iconfont icon-shanchu"></i>
                       <div class="tooltip">
                          <div class="tooltip_inner">删除</div>
                          <i class="tooltip_arrow"></i>
                       </div>
                     </a>
                  </li>
                  <li class="appmsg_opr_item">
                      <a class="js_del js_tooltip preview_btn js_contentView"  data-uuid="{{items.uuid}}" href="javascript:void(0);" data-tooltip="预览"><i class="iconfont icon-yulan"></i>
                         <div class="tooltip">
                            <div class="tooltip_inner">预览</div>
                            <i class="tooltip_arrow"></i>
                         </div>
                      </a>
                 </li>
                  <li class="appmsg_opr_item">
                      <a class="js_del js_tooltip sync_btn" data-id="" href="javascript:void(0);" data-tooltip="同步"><i class="iconfont icon-shuaxin1"></i>
                        <div class="tooltip">
                            <div class="tooltip_inner">同步</div>
                            <i class="tooltip_arrow"></i>
                         </div>
                      </a></li>
               </ul>
            </div>
        </div>
     </div>
     {%endfor%}
    <!--一个素材-end -->

</div>
<input type="hidden" id="total_num" value="{{page.total}}">
<!-- 单图文-end -->