 <input type="hidden" id="totalPage" value="{{page.total_page}}">
{%if page.list.length==0%}
<li class="no_data">
	<div class="none_pic"><img src="images/none.png" alt=""></div>
	<p>暂无样式</p>
</li>
{%endif%}
{%for items in page.list%}
<li data-id="{{items.id}}" data-collected="{{items.collected}}">
   {%if items.collected==0%}
     <a class="js_collectedThis collectedThis" title="收藏" data-type="1"><i class="fa fa-heart-o" aria-hidden="true"></i></a>
   {%else%}
      <a class="collectedThis" title="已收藏" data-type="1"><i class="fa fa-heart" aria-hidden="true"></i></a>
   {%endif%}
   <div class="style_pice" data-type="DIV" data-id="{{items.id}}">{{items.content}}</div>
</li>
{%endfor%}
