* {
    padding: 0;
    margin: 0;
    font-family: "Microsoft YaHei",微软雅黑,"MicrosoftJhengHei",华文细黑;
}

section {
    height: 100%;
    width: 100%;
    padding: 36px;
    min-width: 890px;
    .wrap::after{
      content: '.';
      display: block;
      height: 0;
      clear: both;
      visibility: hidden;
    }
    .wrap{
      .wx_left,
      .authorize_right{
        height: 100%;
        border: 1px solid #E0E0E2;
        background-color: #ffffff;
      }
      .wx_left{
        width: 25.8%;
        float: left;
        position: relative;
        .center{
          margin-top: 193px;
          div{
            background: url('../images/Wx_authorize.png') no-repeat;
            width: 53.4px;
            height: 53.4px;
            background-size: cover;
            margin: 0 auto;
          }
          span{
            color: #888888;
            margin: 0 auto;
            display: block;
            text-align: center;
            transform: scale(0.7);
          }
        }
        .joinus{
          position:absolute;
          bottom: 30px;
          left: 50%;
          margin-left: -50.6px;
          color: #888888;
          transform: scale(0.7);

        }
      }
      .authorize_right{
        width: 71.3%;
        float: right;
        position: relative;
        .d1,
        .d3{
          height: 46px;
          width: 100%;
          border-bottom: 1px solid #F2F2F2;
          div{
            line-height: 46px;
            padding-left: 20px;
            color: #4A4A4A;
            font-weight: 400;
          }
        }
        .d2{
          padding: 12px 20px 12px 20px;
          span{
            display: inline-block;
            color: #888888;
            line-height: 22px;
            font-size: 12px;
            // font-weight: 300;
          }
        }
        .authorize_msg,
        .d4{
          height: 64px;
          width: 184px;
          border: 1px solid #E7E7EB;
          float: left;
          margin: 20px 30px;
          padding: 11px;
        }
        .authorize_msg{

          .left_face{
            height: 38px;
            width: 24%;
            float: left;
          }
          .right_text{
            width: 68%;
            height: 38px;
            float: right;
            i:first-child{
              font-size: 12px;
              color: #4A4A4A;
              font-weight: bold;
              vertical-align: top;
                display: block;
            }
            i:last-child{
              font-size: 12px;
              display: inline-block;
            }
          }
        }
        .d4{
          border: 1px solid #19D100;
          position: relative;
          cursor:pointer;
          span{
            display: inline-block;
            background: url('../images/add.png') no-repeat;
            width: 40px;
            height: 100%;
          }
          i{
            display: inline-block;
            color: #19D100;
            height: 40px;
            position: absolute;
            line-height: 40px;
            left: 60px;
          }
        }
        .d5{
          a{
            color: #888888;
            font-size: 12px;
            position: absolute;
            bottom: 16px;
            right:10px;
          }
        }
      }
    }
}
.container{
  width: 100%;
  height: 563px;
  background-color: #ffffff;
  border: 1px solid #E7E7EB;
  .container_title{
    margin: 0 auto;
    width: 98%;
    height: 40px;
    border-bottom: 1px solid #E7E7EB;
    margin-top: 20px;
    position: relative;
    span:first-child{
      background-image: url('../images/wx_login.png');
      height: 29px;
      width: 29px;
      display: inline-block;
      background-size: cover;
    }
    span:last-child{
      display: inline-block;
      position: absolute;
      line-height: 20px;
      bottom: 10px;
      left:40px
    }
  }
  .container_content{
    margin: 200px auto;
    text-align: center;
    .log_in_btn{
      color: #0099FF;
      cursor: pointer;
    }
  }
}
