@charset "UTF-8";
/* line 15, ../../src/sass/base.scss */
::-webkit-scrollbar {
  width: 8px;
  margin-right: 1px;
}

/* 这是针对缺省样式 (必须的) */
/* line 16, ../../src/sass/base.scss */
::-webkit-scrollbar-track {
  background-color: #e0e0e0;
}

/* 滚动条的滑轨背景颜色 */
/* line 17, ../../src/sass/base.scss */
::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.2);
}

/* 滑块颜色 */
/* line 18, ../../src/sass/base.scss */
::-webkit-scrollbar-button {
  background-color: #e0e0e0;
}

/* 滑轨两头的监听按钮颜色 */
/* line 19, ../../src/sass/base.scss */
::-webkit-scrollbar-corner {
  background-color: black;
}

/* 横向滚动条和纵向滚动条相交处尖角的颜色 */
/* line 35, ../../src/sass/base.scss */
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 40, ../../src/sass/base.scss */
body {
  font-family: "Helvetica Neue", Helvetica, "Hiragino Sans GB", "Microsoft YaHei", "微软雅黑", Arial, sans-serif !important;
  font-size: 14px;
}

/* line 44, ../../src/sass/base.scss */
.clearfix:after {
  content: "";
  display: block;
  height: 0;
  overflow: hidden;
  clear: both;
  visibility: hidden;
}

/* line 52, ../../src/sass/base.scss */
.fl {
  float: left;
}

/* line 53, ../../src/sass/base.scss */
.fr {
  float: right;
}

/* line 54, ../../src/sass/base.scss */
a {
  text-decoration: none;
  color: #fff;
}

/* line 58, ../../src/sass/base.scss */
ul li {
  list-style: none;
}

/* line 61, ../../src/sass/base.scss */
i, em {
  font-style: normal;
}

/* line 64, ../../src/sass/base.scss */
input, select, textarea {
  outline: none;
  padding: 0 10px;
  font-size: 12px;
}

/* line 69, ../../src/sass/base.scss */
.err_tips {
  color: #e15f63;
  font-size: 13px;
  display: none;
}

/* line 74, ../../src/sass/base.scss */
img {
  max-width: 100%;
}

/* line 75, ../../src/sass/base.scss */
.btn {
  min-width: 100px;
  display: inline-block;
  overflow: visible;
  padding: 0 22px;
  height: 32px;
  line-height: 32px;
  vertical-align: middle;
  text-align: center;
  text-decoration: none;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  border-radius: 0;
  font-size: 14px;
  border-width: 1px;
  border-style: solid;
  cursor: pointer;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  -ms-box-sizing: content-box;
  -o-box-sizing: content-box;
  box-sizing: content-box;
}

/* line 92, ../../src/sass/base.scss */
.btn_primary {
  background: #1778B3;
  color: #fff;
}

/* line 96, ../../src/sass/base.scss */
.btn_primary:hover {
  background: #2096de;
  color: #fff;
}

/* line 100, ../../src/sass/base.scss */
.btn_default {
  background-color: #fff;
  color: #222;
  border-color: #E0E0E2;
}

/* line 106, ../../src/sass/base.scss */
.btn_default:hover {
  background-color: #e7e7eb;
  color: #222;
}

/* line 111, ../../src/sass/base.scss */
.base_icons {
  background: url(../images/base_icons.png) no-repeat center top;
}
