@charset "UTF-8";
/* line 15, ../../src/sass/base.scss */
::-webkit-scrollbar {
  width: 8px;
  margin-right: 1px;
}

/* 这是针对缺省样式 (必须的) */
/* line 16, ../../src/sass/base.scss */
::-webkit-scrollbar-track {
  background-color: #e0e0e0;
}

/* 滚动条的滑轨背景颜色 */
/* line 17, ../../src/sass/base.scss */
::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.2);
}

/* 滑块颜色 */
/* line 18, ../../src/sass/base.scss */
::-webkit-scrollbar-button {
  background-color: #e0e0e0;
}

/* 滑轨两头的监听按钮颜色 */
/* line 19, ../../src/sass/base.scss */
::-webkit-scrollbar-corner {
  background-color: black;
}

/* 横向滚动条和纵向滚动条相交处尖角的颜色 */
/* line 35, ../../src/sass/base.scss */
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 40, ../../src/sass/base.scss */
body {
  font-family: "Helvetica Neue", Helvetica, "Hiragino Sans GB", "Microsoft YaHei", "微软雅黑", Arial, sans-serif !important;
  font-size: 14px;
}

/* line 44, ../../src/sass/base.scss */
.clearfix:after {
  content: "";
  display: block;
  height: 0;
  overflow: hidden;
  clear: both;
  visibility: hidden;
}

/* line 52, ../../src/sass/base.scss */
.fl {
  float: left;
}

/* line 53, ../../src/sass/base.scss */
.fr {
  float: right;
}

/* line 54, ../../src/sass/base.scss */
a {
  text-decoration: none;
  color: #fff;
}

/* line 58, ../../src/sass/base.scss */
ul li {
  list-style: none;
}

/* line 61, ../../src/sass/base.scss */
i, em {
  font-style: normal;
}

/* line 64, ../../src/sass/base.scss */
input, select, textarea {
  outline: none;
  padding: 0 10px;
  font-size: 12px;
}

/* line 69, ../../src/sass/base.scss */
.err_tips {
  color: #e15f63;
  font-size: 13px;
  display: none;
}

/* line 74, ../../src/sass/base.scss */
img {
  max-width: 100%;
}

/* line 75, ../../src/sass/base.scss */
.btn {
  min-width: 100px;
  display: inline-block;
  overflow: visible;
  padding: 0 22px;
  height: 32px;
  line-height: 32px;
  vertical-align: middle;
  text-align: center;
  text-decoration: none;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  border-radius: 0;
  font-size: 14px;
  border-width: 1px;
  border-style: solid;
  cursor: pointer;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  -ms-box-sizing: content-box;
  -o-box-sizing: content-box;
  box-sizing: content-box;
}

/* line 92, ../../src/sass/base.scss */
.btn_primary {
  background: #1778B3;
  color: #fff;
}

/* line 96, ../../src/sass/base.scss */
.btn_primary:hover {
  background: #2096de;
  color: #fff;
}

/* line 100, ../../src/sass/base.scss */
.btn_default {
  background-color: #fff;
  color: #222;
  border-color: #E0E0E2;
}

/* line 106, ../../src/sass/base.scss */
.btn_default:hover {
  background-color: #e7e7eb;
  color: #222;
}

/* line 111, ../../src/sass/base.scss */
.base_icons {
  background: url(../images/base_icons.png) no-repeat center top;
}

/* line 3, ../../src/sass/myArticle.scss */
body {
  background-color: rgba(0, 0, 0, 0.06);
}

/* line 6, ../../src/sass/myArticle.scss */
body.no_scroll {
  overflow: hidden;
}

/* line 10, ../../src/sass/myArticle.scss */
.msg_search_wrap {
  float: right;
  width: 280px;
  height: 34px;
  position: relative;
  top: 8px;
}

/* line 17, ../../src/sass/myArticle.scss */
.articleWrapper {
  padding-bottom: 50px;
}
/* line 19, ../../src/sass/myArticle.scss */
.articleWrapper .article-lists {
  min-height: 600px;
  padding: 20px 0;
}
/* line 23, ../../src/sass/myArticle.scss */
.articleWrapper .tab_btn {
  height: 50px;
  background: #fff;
  padding: 0 37px;
}
/* line 28, ../../src/sass/myArticle.scss */
.articleWrapper .js_check_msg {
  float: left;
  text-align: center;
  cursor: pointer;
}
/* line 32, ../../src/sass/myArticle.scss */
.articleWrapper .js_check_msg a {
  color: #4A4A4A;
  line-height: 46px;
  padding-bottom: 16px;
  border-bottom: 3px solid #fff;
}
/* line 38, ../../src/sass/myArticle.scss */
.articleWrapper .js_check_msg:hover a, .articleWrapper .js_check_msg.cur a {
  border-bottom: 3px solid #1778B3;
}
/* line 42, ../../src/sass/myArticle.scss */
.articleWrapper .js_check_msg:nth-child(1) {
  margin-right: 30px;
}
/* line 47, ../../src/sass/myArticle.scss */
.articleWrapper .no_article {
  text-align: center;
  padding-top: 15%;
  color: #4a4a4a;
}
/* line 51, ../../src/sass/myArticle.scss */
.articleWrapper .no_article a {
  color: #1778B3;
}
/* line 53, ../../src/sass/myArticle.scss */
.articleWrapper .no_article a:hover {
  color: #2096de;
  text-decoration: underline;
}

/* line 60, ../../src/sass/myArticle.scss */
.creatMultimMsg {
  float: right;
  padding-top: 7px;
  margin-right: 20px;
}
/* line 64, ../../src/sass/myArticle.scss */
.creatMultimMsg a {
  height: 34px;
}

/* line 69, ../../src/sass/myArticle.scss */
.editMultiMsgWrap {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  overflow-y: auto;
}
/* line 78, ../../src/sass/myArticle.scss */
.editMultiMsgWrap .js_close {
  position: absolute;
  left: 730px;
  top: 0;
  color: #fff;
  cursor: pointer;
}
/* line 84, ../../src/sass/myArticle.scss */
.editMultiMsgWrap .js_close .iconfont {
  font-size: 30px;
}
/* line 88, ../../src/sass/myArticle.scss */
.editMultiMsgWrap .content {
  width: 710px;
  height: 600px;
  background: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  padding: 15px 40px;
  transform: translate(-50%, -50%);
}
/* line 97, ../../src/sass/myArticle.scss */
.editMultiMsgWrap .content .left_wrap {
  float: left;
  width: 256px;
  height: 100%;
  border: 1px solid #E0E0E2;
}
/* line 103, ../../src/sass/myArticle.scss */
.editMultiMsgWrap .content .right_wrap {
  float: right;
  width: 350px;
  height: 100%;
  padding: 15px;
  border: 1px solid #E0E0E2;
  position: relative;
}
/* line 110, ../../src/sass/myArticle.scss */
.editMultiMsgWrap .content .right_wrap .oprsave_wrap {
  position: absolute;
  left: 0;
  bottom: 15px;
  width: 100%;
  padding: 0 15px;
}
/* line 116, ../../src/sass/myArticle.scss */
.editMultiMsgWrap .content .right_wrap .oprsave_wrap a {
  float: left;
  width: 50%;
  line-height: 48px;
  color: #4a4a4a;
  text-align: center;
  border: 1px solid #E0E0E2;
}
/* line 123, ../../src/sass/myArticle.scss */
.editMultiMsgWrap .content .right_wrap .oprsave_wrap a:nth-child(1) {
  border-right: 0;
}
/* line 126, ../../src/sass/myArticle.scss */
.editMultiMsgWrap .content .right_wrap .oprsave_wrap a:hover {
  background: #1778B3;
  color: #fff;
}
/* line 134, ../../src/sass/myArticle.scss */
.editMultiMsgWrap .single_articles_wrap {
  height: 517px;
  overflow-x: hidden;
  overflow-y: auto;
}
/* line 139, ../../src/sass/myArticle.scss */
.editMultiMsgWrap .search_panl {
  padding: 8px;
  border-bottom: 1px solid #E0E0E2;
}
/* line 142, ../../src/sass/myArticle.scss */
.editMultiMsgWrap .search_panl .search_wrap {
  height: 34px;
}

/* line 147, ../../src/sass/myArticle.scss */
.editing_wrap {
  height: 91%;
  overflow-x: hidden;
  overflow-y: auto;
  border: 1px solid #E0E0E2;
  border-bottom: 0;
}
/* line 153, ../../src/sass/myArticle.scss */
.editing_wrap .js_appmsg_item {
  border-bottom: 1px solid #E0E0E2;
}
/* line 156, ../../src/sass/myArticle.scss */
.editing_wrap .multi .appmsg_item {
  border-top: 0;
}
/* line 159, ../../src/sass/myArticle.scss */
.editing_wrap .appmsg {
  border: 0;
}

/*创建多图文*/
/* line 164, ../../src/sass/myArticle.scss */
.appmsg_content {
  position: relative;
  min-height: 134px;
  margin-top: -1px;
  padding: 0;
}

/* line 170, ../../src/sass/myArticle.scss */
.first_appmsg_item {
  display: none;
}

/* line 173, ../../src/sass/myArticle.scss */
.appmsg_content .js_appmsg_item:nth-child(1) .first_appmsg_item {
  display: block;
  padding: 0;
}

/* line 177, ../../src/sass/myArticle.scss */
.appmsg_item_wrp.current {
  position: relative;
  z-index: 1;
  margin-left: -1px;
  margin-right: -1px;
  margin-bottom: -1px;
}

/* line 184, ../../src/sass/myArticle.scss */
.appmsg_item_wrp.current .first_appmsg_item, .appmsg_preview_container .appmsg_item_wrp.current .appmsg_item {
  border-top-width: 0;
  padding: 9px 9px;
  border: 2px solid #43b548;
}

/* line 189, ../../src/sass/myArticle.scss */
.appmsg_item_wrp.current .first_appmsg_item, .appmsg_preview_container .appmsg_item_wrp.current .appmsg_item {
  border-top-width: 0;
  padding: 9px 9px;
  border: 2px solid #43b548;
}

/* line 194, ../../src/sass/myArticle.scss */
.appmsg_content .js_appmsg_item:nth-child(1) .appmsg_item {
  display: none;
}

/* line 198, ../../src/sass/myArticle.scss */
.appmsg_thumb_wrp {
  height: 120px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

/* line 204, ../../src/sass/myArticle.scss */
.multi .appmsg_item .appmsg_thumb_wrp {
  float: right;
  width: 78px;
  height: 78px;
  margin-left: 14px;
}

/* line 212, ../../src/sass/myArticle.scss */
.single_msg_lists .appmsg_thumb_wrp {
  float: left;
  width: 78px;
  height: 70px;
  margin-right: 14px;
}

/* line 218, ../../src/sass/myArticle.scss */
.single_msg_lists .appmsg_item {
  border-bottom: 1px solid #E0E0E2;
  min-height: 80px;
  padding: 5px;
  overflow: hidden;
  cursor: pointer;
}
/* line 224, ../../src/sass/myArticle.scss */
.single_msg_lists .appmsg_item:hover {
  border: 1px solid #2096de;
}

/* line 228, ../../src/sass/myArticle.scss */
.single_msg_lists .appmsg_title {
  line-height: 24px;
  max-height: 48px;
  overflow: hidden;
  font-size: 14px;
  color: #9B9B9B;
}

/* line 236, ../../src/sass/myArticle.scss */
.multi .appmsg_item .appmsg_title {
  line-height: 24px;
  max-height: 48px;
  overflow: hidden;
  font-weight: 400;
  font-style: normal;
  font-size: 14px;
  line-height: 1.6;
  max-height: 3.2;
  overflow: hidden;
  word-wrap: break-word;
  word-break: break-all;
  color: #222;
}

/* line 250, ../../src/sass/myArticle.scss */
.appmsg_edit_mask {
  display: none;
  position: absolute;
  left: 0;
  width: 100%;
  top: auto;
  bottom: 0;
  height: 40px;
  line-height: 40px;
  background: rgba(0, 0, 0, 0.5) !important;
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#80000000',endcolorstr = '#80000000');
  text-align: right;
}

/* line 263, ../../src/sass/myArticle.scss */
.icon20_common {
  width: 20px;
  height: 20px;
  vertical-align: middle;
  display: inline-block;
  line-height: 100px;
  overflow: hidden;
}

/* line 271, ../../src/sass/myArticle.scss */
.icon20_common.sort_up_white {
  background: url(../images/base_z3118ec.png) 0 -4754px no-repeat;
}

/* line 274, ../../src/sass/myArticle.scss */
.icon20_common.sort_down_white {
  background: url(../images/base_z3118ec.png) 0 -4778px no-repeat;
}

/* line 277, ../../src/sass/myArticle.scss */
.icon20_common.del_media_white {
  background: url(../images/base_z3118ec.png) 0 -4802px no-repeat;
}

/* line 280, ../../src/sass/myArticle.scss */
.appmsg_edit_mask a {
  margin-left: 8px;
  margin-right: 8px;
}

/* line 284, ../../src/sass/myArticle.scss */
.appmsg_edit_mask .sort_up_white, .appmsg_edit_mask .sort_down_white {
  float: left;
  margin-top: 10px;
}

/* line 288, ../../src/sass/myArticle.scss */
.multi .appmsg_item .appmsg_thumb_wrp {
  float: right;
  width: 78px;
  height: 78px;
  margin-left: 14px;
}

/* line 294, ../../src/sass/myArticle.scss */
.multi .appmsg_item .appmsg_title {
  line-height: 24px;
  max-height: 48px;
  overflow: hidden;
}

/* line 300, ../../src/sass/myArticle.scss */
.appmsg_item, .first_appmsg_item {
  padding: 10px;
}

/* line 303, ../../src/sass/myArticle.scss */
.first_appmsg_item {
  position: relative;
}

/* line 306, ../../src/sass/myArticle.scss */
.first_appmsg_item:hover .appmsg_edit_mask {
  display: block;
}

/* line 310, ../../src/sass/myArticle.scss */
.right_wrap .js_appmsg_item:last-child .sort_down_white {
  display: none;
}

/*创建多图文-end*/
/* line 325, ../../src/sass/myArticle.scss */
.appmsg_list {
  margin: 0 30px;
}

/* line 328, ../../src/sass/myArticle.scss */
#gallery-wrapper {
  position: relative;
  left: 7px;
}

/* line 333, ../../src/sass/myArticle.scss */
.js_appmsgitem {
  position: absolute;
}

/* line 338, ../../src/sass/myArticle.scss */
.appmsg {
  position: relative;
  overflow: hidden;
  margin-bottom: 20px;
  border: 1px solid #E0E0E2;
  background-color: #fff;
  color: #666;
}

/* line 346, ../../src/sass/myArticle.scss */
.single .appmsg_desc {
  width: 100%;
  height: 58px;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
}

/* line 354, ../../src/sass/myArticle.scss */
.single .appmsg_title a {
  width: 100%;
  height: 48px;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
}

/* line 362, ../../src/sass/myArticle.scss */
.appmsg_content {
  position: relative;
}

/* line 365, ../../src/sass/myArticle.scss */
.appmsg_info {
  font-size: 13px;
  line-height: 20px;
  margin: 0 14px;
  padding: 12px 0;
  border-bottom: 1px solid #e7e7eb;
}

/* line 372, ../../src/sass/myArticle.scss */
.appmsg_item {
  position: relative;
  padding: 12px 14px;
}

/* line 376, ../../src/sass/myArticle.scss */
.appmsg_date {
  font-weight: 400;
  font-style: normal;
}

/* line 380, ../../src/sass/myArticle.scss */
.appmsg_title {
  font-weight: 400;
  font-style: normal;
  font-size: 14px;
  line-height: 1.6;
  max-height: 3.2;
  overflow: hidden;
  word-wrap: break-word;
  word-break: break-all;
  color: #222;
}

/* line 392, ../../src/sass/myArticle.scss */
.appmsg_thumb_wrp {
  height: 160px;
  overflow: hidden;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

/* line 399, ../../src/sass/myArticle.scss */
.single .appmsg_thumb_wrp {
  margin-top: 5px;
}

/* line 403, ../../src/sass/myArticle.scss */
.editMultiMsgWrap .load_tip {
  text-align: center;
  padding: 10px 0;
  color: #969696;
}

/* line 408, ../../src/sass/myArticle.scss */
.appmsg_desc {
  padding: 5px 0 10px;
  word-wrap: break-word;
  word-break: break-all;
}

/* line 413, ../../src/sass/myArticle.scss */
.edit_mask {
  font-size: 0;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.6) !important;
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#99000000',endcolorstr = '#99000000');
  color: #fff;
  z-index: 1;
  text-align: center;
  padding: 14px;
}

/* line 427, ../../src/sass/myArticle.scss */
.js_preview {
  display: none;
}

/* line 432, ../../src/sass/myArticle.scss */
.js_article_item:hover .js_preview {
  display: block;
}

/* line 435, ../../src/sass/myArticle.scss */
.qrcode_wrap {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: none;
}
/* line 441, ../../src/sass/myArticle.scss */
.qrcode_wrap .js_qrcode {
  width: 170px;
  height: 170px;
  border: 1px solid #fff;
  padding: 10px;
  margin-bottom: 10px;
}
/* line 448, ../../src/sass/myArticle.scss */
.qrcode_wrap .js_closeQrcode {
  cursor: pointer;
}
/* line 450, ../../src/sass/myArticle.scss */
.qrcode_wrap .js_closeQrcode .iconfont {
  font-size: 32px;
}

/* line 458, ../../src/sass/myArticle.scss */
.edit_mask_content {
  display: inline-block;
  vertical-align: middle;
  font-size: 14px;
  text-align: center;
}
/* line 463, ../../src/sass/myArticle.scss */
.edit_mask_content .preview_btn_wrap {
  display: inline-block;
  width: 70px;
  text-align: center;
}
/* line 467, ../../src/sass/myArticle.scss */
.edit_mask_content .preview_btn_wrap:nth-child(1) {
  margin-right: 20px;
}
/* line 470, ../../src/sass/myArticle.scss */
.edit_mask_content .preview_btn_wrap p {
  font-size: 12px;
}
/* line 474, ../../src/sass/myArticle.scss */
.edit_mask_content .preview_btn {
  display: inline-block;
  width: 50px;
  height: 50px;
  margin: 0 auto 10px;
  border-radius: 100%;
  background: #fff;
  color: #333;
  text-align: center;
  font-size: 12px;
  padding-top: 8px;
  cursor: pointer;
}
/* line 486, ../../src/sass/myArticle.scss */
.edit_mask_content .preview_btn:hover {
  color: #1778B3;
}
/* line 489, ../../src/sass/myArticle.scss */
.edit_mask_content .preview_btn .iconfont {
  font-size: 26px;
}

/* line 495, ../../src/sass/myArticle.scss */
.vm_box {
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}

/* line 500, ../../src/sass/myArticle.scss */
.cover_appmsg_item {
  position: relative;
  margin: 12px 14px;
}

/* line 504, ../../src/sass/myArticle.scss */
.has_first_cover .cover_appmsg_item {
  margin: 12px 14px 12px;
}

/* line 507, ../../src/sass/myArticle.scss */
.appmsg_title {
  font-weight: 400;
  font-style: normal;
  font-size: 14px;
  line-height: 1.6;
  max-height: 3.2;
  overflow: hidden;
  word-wrap: break-word;
  word-break: break-all;
  color: #222;
}

/* line 518, ../../src/sass/myArticle.scss */
.has_first_cover .cover_appmsg_item .appmsg_title {
  font-size: 14px;
  padding-top: 0;
  line-height: 28px;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.6) !important;
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#99000000',endcolorstr = '#99000000');
}

/* line 529, ../../src/sass/myArticle.scss */
.appmsg_title a {
  display: block;
  color: #222;
}

/* line 533, ../../src/sass/myArticle.scss */
.has_first_cover .cover_appmsg_item .appmsg_title a {
  padding: 0 8px;
  color: #fff;
}

/* line 537, ../../src/sass/myArticle.scss */
.appmsg_thumb_wrp {
  height: 160px;
  overflow: hidden;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

/* line 544, ../../src/sass/myArticle.scss */
.cover_appmsg_item .edit_mask.preview_mask {
  left: -14px;
  right: -14px;
  top: -12px;
  bottom: -12px;
}

/* line 550, ../../src/sass/myArticle.scss */
.multi .appmsg_item {
  border-top: 1px solid #e7e7eb;
}

/* line 553, ../../src/sass/myArticle.scss */
.multi .appmsg_item .appmsg_thumb_wrp {
  float: right;
  width: 78px;
  height: 78px;
  margin-left: 14px;
}

/* line 559, ../../src/sass/myArticle.scss */
.multi .appmsg_item .appmsg_title {
  line-height: 24px;
  max-height: 48px;
  overflow: hidden;
}

/* line 565, ../../src/sass/myArticle.scss */
.multi .appmsg_item .appmsg_thumb_wrp {
  float: right;
  width: 78px;
  height: 78px;
  margin-left: 14px;
}

/* line 571, ../../src/sass/myArticle.scss */
.multi .appmsg_item:after {
  content: "\200B";
  display: block;
  height: 0;
  clear: both;
}

/* line 577, ../../src/sass/myArticle.scss */
.has_first_cover .cover_appmsg_item .appmsg_title a {
  padding: 0 8px;
  color: #fff;
}

/* line 582, ../../src/sass/myArticle.scss */
.first_appmsg_item .cover_appmsg_item {
  margin: 0;
}

/* line 592, ../../src/sass/myArticle.scss */
.syncDescConPad {
  margin-top: 10px;
  padding: 0 15px;
}

/* line 597, ../../src/sass/myArticle.scss */
.syncDescCon {
  font-size: 12px;
}

/* line 601, ../../src/sass/myArticle.scss */
.syncDesc {
  display: inline-block;
  /**width: 24%;**/
  height: 18px;
  cursor: pointer;
  font-size: 12px;
}

/* line 609, ../../src/sass/myArticle.scss */
.syncDescTotal {
  color: #F5A623;
}

/* line 613, ../../src/sass/myArticle.scss */
.syncDescTotalWord {
  color: #F5A623;
  font-size: 12px;
}

/* line 618, ../../src/sass/myArticle.scss */
.syncDescSuc {
  color: #1AAD19;
  text-align: center;
}

/* line 623, ../../src/sass/myArticle.scss */
.syncDescSucWord {
  color: #1AAD19;
  font-size: 12px;
}

/* line 628, ../../src/sass/myArticle.scss */
.syncDescFail {
  color: #D0021B;
  /*text-align: right;*/
}

/* line 633, ../../src/sass/myArticle.scss */
.syncDescFailWord {
  color: #D0021B;
  font-size: 12px;
}

/* line 638, ../../src/sass/myArticle.scss */
.appmsg_opr {
  background: #F7F7F7;
  border-top: 1px solid #E0E0E2;
}

/* line 642, ../../src/sass/myArticle.scss */
.appmsg_opr_item {
  float: left;
  line-height: 44px;
  height: 44px;
  width: 25%;
}

/* line 648, ../../src/sass/myArticle.scss */
.grid_item.no_extra {
  float: none;
  width: auto;
  overflow: hidden;
}

/* line 654, ../../src/sass/myArticle.scss */
.appmsg_opr_item a {
  display: block;
  text-align: center;
  text-decoration: none;
  color: #333;
  cursor: pointer;
  position: relative;
}
/* line 661, ../../src/sass/myArticle.scss */
.appmsg_opr_item a .iconfont {
  font-size: 22px;
}
/* line 664, ../../src/sass/myArticle.scss */
.appmsg_opr_item a .icon-shuaxin1 {
  font-size: 30px;
}
/* line 667, ../../src/sass/myArticle.scss */
.appmsg_opr_item a:hover {
  color: #1778B3;
}

/* line 671, ../../src/sass/myArticle.scss */
.icon18_common {
  width: 18px;
  height: 18px;
  vertical-align: middle;
  display: inline-block;
  line-height: 100px;
  overflow: hidden;
}

/* line 679, ../../src/sass/myArticle.scss */
.icon18_common.edit_gray {
  background: url(../images/base_z3560fc.png) 0 -4557px no-repeat;
}

/* line 682, ../../src/sass/myArticle.scss */
.icon18_common.edit_gray:hover, a:hover .icon18_common.edit_gray {
  background: url(../images/base_z3560fc.png) 0 -4579px no-repeat;
}

/* line 686, ../../src/sass/myArticle.scss */
#gallery-wrapper .appmsg_opr_item a .tooltip {
  position: absolute;
  z-index: 10;
  top: -20px !important;
  left: 40px !important;
  transform: translateX(-50%);
  display: none;
  width: 58px;
}

/* line 695, ../../src/sass/myArticle.scss */
#gallery-wrapper .appmsg_opr_item a:hover .tooltip {
  display: block;
}

/* line 698, ../../src/sass/myArticle.scss */
#gallery-wrapper .appmsg_opr_item a .tooltip .tooltip_inner {
  padding: 0 10px;
  font-size: 12px;
  line-height: 20px;
  color: #fff;
  background: #555556;
  word-break: break-word;
  word-break: break-all;
}

/* line 707, ../../src/sass/myArticle.scss */
.tooltip_arrow {
  position: absolute;
  bottom: -5px;
  left: 50%;
  margin-left: -6px;
  display: inline-block;
  width: 0;
  height: 0;
  border-width: 6px;
  border-style: dashed;
  border-color: transparent;
  border-bottom-width: 0;
  border-top-color: #555556;
  border-top-style: solid;
}

/*预览*/
/* line 725, ../../src/sass/myArticle.scss */
.wx_phone_preview_multi_card {
  cursor: pointer;
}

/* line 728, ../../src/sass/myArticle.scss */
.wx_phone_preview_multi_card .card_cover_appmsg_item {
  margin: 6px;
  position: relative;
}

/* line 732, ../../src/sass/myArticle.scss */
.msg_card_inner {
  background-color: #fff;
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  overflow: hidden;
  border: 1px solid #e7e7eb;
}

/* line 740, ../../src/sass/myArticle.scss */
.wx_phone_preview_multi_card .card_cover_appmsg_inner {
  position: relative;
  height: 140px;
  overflow: hidden;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

/* line 749, ../../src/sass/myArticle.scss */
.wx_phone_preview_multi_card.has_first_cover .card_cover_title {
  position: absolute;
  max-height: 42px;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.5) !important;
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#80000000',endcolorstr = '#80000000');
  color: #fff;
  padding: 5px 6px;
}

/* line 760, ../../src/sass/myArticle.scss */
.wx_phone_preview_multi_card .card_cover_title {
  font-weight: 400;
}

/* line 763, ../../src/sass/myArticle.scss */
.wx_phone_preview_multi_card .card_appmsg_item {
  overflow: hidden;
  padding: 6px;
  border-top: 1px solid #e7e7eb;
}

/* line 768, ../../src/sass/myArticle.scss */
.wx_phone_preview_multi_card .card_appmsg_thumb {
  float: right;
  margin-left: 10px;
  width: 45px;
  height: 45px;
}

/* line 774, ../../src/sass/myArticle.scss */
.previewItem .card_cover_appmsg_item {
  display: none;
}

/* line 777, ../../src/sass/myArticle.scss */
.msg_card_inner .previewItem:nth-child(1) .card_cover_appmsg_item {
  display: block;
}

/* line 781, ../../src/sass/myArticle.scss */
.msg_card_inner .previewItem:nth-child(1) .card_appmsg_item {
  display: none;
}

/* line 785, ../../src/sass/myArticle.scss */
.rich_media {
  display: none;
}

/* line 789, ../../src/sass/myArticle.scss */
.jsPhoneView {
  position: relative;
}

/* line 792, ../../src/sass/myArticle.scss */
.jsPhoneView .rich_media:nth-child(1) {
  display: block;
}

/* line 796, ../../src/sass/myArticle.scss */
.wx_article_crtl {
  display: none;
}

/* line 800, ../../src/sass/myArticle.scss */
.pagination {
  margin: 0;
  margin-right: 10px;
}

/* line 805, ../../src/sass/myArticle.scss */
.img_pick .img_list {
  position: relative;
  left: 10px;
}

/* line 810, ../../src/sass/myArticle.scss */
.js_news_item:hover .appmsg_edit_mask {
  display: block;
}

/* line 814, ../../src/sass/myArticle.scss */
.audio_switch.voicePlayBtnAc .icon_qqmusic {
  background: transparent url(../images/icon_audio2767e5.gif) no-repeat 0 0;
}

/* line 818, ../../src/sass/myArticle.scss */
.wx_view_list {
  line-height: 40px;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  text-align: center;
  overflow: hidden;
  position: absolute;
  right: 105%;
  top: 90px;
}

/* line 829, ../../src/sass/myArticle.scss */
.wx_view_item.selected {
  background-color: #47b54a;
  color: #fff;
  border-bottom-color: #5bab5e;
}

/* line 834, ../../src/sass/myArticle.scss */
.wx_view_item {
  background-color: #f0eff4;
  border-bottom: 1px solid #dfdfe4;
  white-space: nowrap;
  cursor: pointer;
  min-width: 120px;
}

/* line 841, ../../src/sass/myArticle.scss */
.wx_article_crtl {
  line-height: 40px;
  border-radius: 5px;
  position: absolute;
  right: 105%;
  top: 268px;
  background-color: #fff;
  min-width: 120px;
  overflow: hidden;
}

/* line 851, ../../src/sass/myArticle.scss */
.wx_article_crtl .crtl_btn {
  width: 50%;
  float: left;
  box-sizing: border-box;
  padding: 0 8px;
  line-height: 40px;
  text-align: center;
  cursor: pointer;
}

/* line 860, ../../src/sass/myArticle.scss */
.wx_article_crtl .crtl_next_btn {
  border-left: 1px solid #dfdfe4;
}

/* line 864, ../../src/sass/myArticle.scss */
.appmsg_wap .rich_media_title {
  margin-bottom: 12px;
  line-height: 1.4;
  font-weight: 400;
  font-size: 16px;
}

/* line 871, ../../src/sass/myArticle.scss */
.appmsg_wap .rich_media_meta_list {
  margin-bottom: 18px;
  line-height: 20px;
  font-size: 0;
}

/* line 877, ../../src/sass/myArticle.scss */
.appmsg_wap .rich_media_meta {
  display: inline-block;
  vertical-align: middle;
  margin-right: 8px;
  margin-bottom: 10px;
  font-size: 14px;
}

/* line 885, ../../src/sass/myArticle.scss */
.appmsg_wap .meta_original_tag {
  line-height: 100px;
  overflow: hidden;
  width: 49px;
  height: 20px;
  display: inline-block;
  background: transparent url(/mpres/htmledition/images/appmsg/icon_original_tag2b638f.png) no-repeat 0 0;
}

/* line 894, ../../src/sass/myArticle.scss */
.appmsg_wap .rich_media_meta_text {
  color: #8c8c8c;
  font-weight: 400;
  font-style: normal;
}

/* line 900, ../../src/sass/myArticle.scss */
.appmsg_wap .rich_media_meta_link {
  color: #607fa6;
  cursor: pointer;
}

/* line 905, ../../src/sass/myArticle.scss */
.appmsg_wap .rich_media_meta_nickname {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  max-width: 9em;
}

/* line 912, ../../src/sass/myArticle.scss */
.appmsg_wap .rich_media_content {
  word-wrap: break-word;
  word-break: break-all;
}

/* line 917, ../../src/sass/myArticle.scss */
.appmsg_wap .rich_media_thumb_wrp {
  margin-bottom: 6px;
}

/* line 921, ../../src/sass/myArticle.scss */
.appmsg_wap .rich_media_thumb_wrp .original_img_wrp {
  display: block;
}

/* line 925, ../../src/sass/myArticle.scss */
.appmsg_wap .rich_media_thumb {
  display: block;
  width: 100%;
}

/* line 930, ../../src/sass/myArticle.scss */
.appmsg_wap .rich_media_content {
  overflow: hidden;
  color: #3e3e3e;
}

/* line 935, ../../src/sass/myArticle.scss */
.appmsg_wap .rich_media_content img[data-ratio] {
  height: auto !important;
}

/* line 939, ../../src/sass/myArticle.scss */
.appmsg_wap .rich_media_content * {
  max-width: 100% !important;
  box-sizing: border-box !important;
  -webkit-box-sizing: border-box !important;
  word-wrap: break-word !important;
  word-break: normal !important;
  word-wrap: break-word;
  -webkit-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto;
}

/* line 951, ../../src/sass/myArticle.scss */
.appmsg_wap .rich_media_content p {
  clear: both;
  min-height: 1em;
  white-space: pre-wrap;
}

/* line 957, ../../src/sass/myArticle.scss */
.appmsg_wap .rich_media_content em {
  font-style: italic;
}

/* line 961, ../../src/sass/myArticle.scss */
.appmsg_wap .rich_media_content fieldset {
  min-width: 0;
}

/* line 965, ../../src/sass/myArticle.scss */
.appmsg_wap .rich_media_content .list-paddingleft-2 {
  padding-left: 30px;
}

/* line 969, ../../src/sass/myArticle.scss */
.appmsg_wap .rich_media_content blockquote {
  margin: 0;
  padding-left: 10px;
  border-left: 3px solid #dbdbdb;
}
