@charset "UTF-8";
/* line 15, ../../src/sass/base.scss */
::-webkit-scrollbar {
  width: 8px;
  margin-right: 1px;
}

/* 这是针对缺省样式 (必须的) */
/* line 16, ../../src/sass/base.scss */
::-webkit-scrollbar-track {
  background-color: #e0e0e0;
}

/* 滚动条的滑轨背景颜色 */
/* line 17, ../../src/sass/base.scss */
::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.2);
}

/* 滑块颜色 */
/* line 18, ../../src/sass/base.scss */
::-webkit-scrollbar-button {
  background-color: #e0e0e0;
}

/* 滑轨两头的监听按钮颜色 */
/* line 19, ../../src/sass/base.scss */
::-webkit-scrollbar-corner {
  background-color: black;
}

/* 横向滚动条和纵向滚动条相交处尖角的颜色 */
/* line 35, ../../src/sass/base.scss */
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 40, ../../src/sass/base.scss */
body {
  font-family: "Helvetica Neue", Helvetica, "Hiragino Sans GB", "Microsoft YaHei", "微软雅黑", Arial, sans-serif !important;
  font-size: 14px;
}

/* line 44, ../../src/sass/base.scss */
.clearfix:after {
  content: "";
  display: block;
  height: 0;
  overflow: hidden;
  clear: both;
  visibility: hidden;
}

/* line 52, ../../src/sass/base.scss */
.fl {
  float: left;
}

/* line 53, ../../src/sass/base.scss */
.fr {
  float: right;
}

/* line 54, ../../src/sass/base.scss */
a {
  text-decoration: none;
  color: #fff;
}

/* line 58, ../../src/sass/base.scss */
ul li {
  list-style: none;
}

/* line 61, ../../src/sass/base.scss */
i, em {
  font-style: normal;
}

/* line 64, ../../src/sass/base.scss */
input, select, textarea {
  outline: none;
  padding: 0 10px;
  font-size: 12px;
}

/* line 69, ../../src/sass/base.scss */
.err_tips {
  color: #e15f63;
  font-size: 13px;
  display: none;
}

/* line 74, ../../src/sass/base.scss */
img {
  max-width: 100%;
}

/* line 75, ../../src/sass/base.scss */
.btn {
  min-width: 100px;
  display: inline-block;
  overflow: visible;
  padding: 0 22px;
  height: 32px;
  line-height: 32px;
  vertical-align: middle;
  text-align: center;
  text-decoration: none;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  border-radius: 0;
  font-size: 14px;
  border-width: 1px;
  border-style: solid;
  cursor: pointer;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  -ms-box-sizing: content-box;
  -o-box-sizing: content-box;
  box-sizing: content-box;
}

/* line 92, ../../src/sass/base.scss */
.btn_primary {
  background: #1778B3;
  color: #fff;
}

/* line 96, ../../src/sass/base.scss */
.btn_primary:hover {
  background: #2096de;
  color: #fff;
}

/* line 100, ../../src/sass/base.scss */
.btn_default {
  background-color: #fff;
  color: #222;
  border-color: #E0E0E2;
}

/* line 106, ../../src/sass/base.scss */
.btn_default:hover {
  background-color: #e7e7eb;
  color: #222;
}

/* line 111, ../../src/sass/base.scss */
.base_icons {
  background: url(../images/base_icons.png) no-repeat center top;
}

/* line 15, ../../src/sass/base.scss */
::-webkit-scrollbar {
  width: 8px;
  margin-right: 1px;
}

/* 这是针对缺省样式 (必须的) */
/* line 16, ../../src/sass/base.scss */
::-webkit-scrollbar-track {
  background-color: #e0e0e0;
}

/* 滚动条的滑轨背景颜色 */
/* line 17, ../../src/sass/base.scss */
::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.2);
}

/* 滑块颜色 */
/* line 18, ../../src/sass/base.scss */
::-webkit-scrollbar-button {
  background-color: #e0e0e0;
}

/* 滑轨两头的监听按钮颜色 */
/* line 19, ../../src/sass/base.scss */
::-webkit-scrollbar-corner {
  background-color: black;
}

/* 横向滚动条和纵向滚动条相交处尖角的颜色 */
/* line 35, ../../src/sass/base.scss */
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 40, ../../src/sass/base.scss */
body {
  font-family: "Helvetica Neue", Helvetica, "Hiragino Sans GB", "Microsoft YaHei", "微软雅黑", Arial, sans-serif !important;
  font-size: 14px;
}

/* line 44, ../../src/sass/base.scss */
.clearfix:after {
  content: "";
  display: block;
  height: 0;
  overflow: hidden;
  clear: both;
  visibility: hidden;
}

/* line 52, ../../src/sass/base.scss */
.fl {
  float: left;
}

/* line 53, ../../src/sass/base.scss */
.fr {
  float: right;
}

/* line 54, ../../src/sass/base.scss */
a {
  text-decoration: none;
  color: #fff;
}

/* line 58, ../../src/sass/base.scss */
ul li {
  list-style: none;
}

/* line 61, ../../src/sass/base.scss */
i, em {
  font-style: normal;
}

/* line 64, ../../src/sass/base.scss */
input, select, textarea {
  outline: none;
  padding: 0 10px;
  font-size: 12px;
}

/* line 69, ../../src/sass/base.scss */
.err_tips {
  color: #e15f63;
  font-size: 13px;
  display: none;
}

/* line 74, ../../src/sass/base.scss */
img {
  max-width: 100%;
}

/* line 75, ../../src/sass/base.scss */
.btn {
  min-width: 100px;
  display: inline-block;
  overflow: visible;
  padding: 0 22px;
  height: 32px;
  line-height: 32px;
  vertical-align: middle;
  text-align: center;
  text-decoration: none;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  border-radius: 0;
  font-size: 14px;
  border-width: 1px;
  border-style: solid;
  cursor: pointer;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  -ms-box-sizing: content-box;
  -o-box-sizing: content-box;
  box-sizing: content-box;
}

/* line 92, ../../src/sass/base.scss */
.btn_primary {
  background: #1778B3;
  color: #fff;
}

/* line 96, ../../src/sass/base.scss */
.btn_primary:hover {
  background: #2096de;
  color: #fff;
}

/* line 100, ../../src/sass/base.scss */
.btn_default {
  background-color: #fff;
  color: #222;
  border-color: #E0E0E2;
}

/* line 106, ../../src/sass/base.scss */
.btn_default:hover {
  background-color: #e7e7eb;
  color: #222;
}

/* line 111, ../../src/sass/base.scss */
.base_icons {
  background: url(../images/base_icons.png) no-repeat center top;
}

/* line 2, ../../src/sass/header.scss */
.header {
  width: 100%;
  height: 55px;
  background: #666;
  color: #fff;
  padding: 0 10px;
  line-height: 55px;
  font-size: 12px;
}
/* line 10, ../../src/sass/header.scss */
.header .logo_wrap {
  font-size: 16px;
  cursor: pointer;
}
/* line 14, ../../src/sass/header.scss */
.header .main_top_right {
  padding-right: 20px;
}
/* line 17, ../../src/sass/header.scss */
.header .navs {
  margin-right: 15px;
}
/* line 20, ../../src/sass/header.scss */
.header .navs li {
  float: left;
  margin-right: 20px;
  cursor: pointer;
}
/* line 25, ../../src/sass/header.scss */
.header .login_rgister {
  float: left;
  position: relative;
  cursor: pointer;
}
/* line 29, ../../src/sass/header.scss */
.header .login_rgister .icon {
  display: inline-block;
  width: 20px;
  height: 20px;
  border-radius: 100%;
  position: relative;
  top: 6px;
}
/* line 38, ../../src/sass/header.scss */
.header .user_infos {
  position: relative;
}
/* line 40, ../../src/sass/header.scss */
.header .user_infos img {
  width: 30px;
  height: 30px;
  border-radius: 100%;
  margin-right: 5px;
  position: relative;
  top: 10px;
}

/* line 51, ../../src/sass/header.scss */
.exit_wrap {
  position: absolute;
  top: 50px;
  right: -18px;
  z-index: 1010;
  width: 150px;
  box-shadow: 0 0px 9px #888888;
  background: #fff;
  text-align: center;
  color: #222;
  font-size: 14px;
  border-radius: 5px;
}
/* line 63, ../../src/sass/header.scss */
.exit_wrap li {
  line-height: 40px;
  border-bottom: 1px solid #E0E0E2;
}

/* line 4, ../../src/sass/weeditor.scss */
html, body {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

/* line 13, ../../src/sass/weeditor.scss */
.main_body {
  width: 100%;
  position: relative;
  background-color: #d8d6d6;
}

/* line 19, ../../src/sass/weeditor.scss */
.phone_view_wrap * {
  max-width: 100% !important;
  box-sizing: border-box !important;
  -webkit-box-sizing: border-box !important;
  word-wrap: break-word !important;
}

/* line 26, ../../src/sass/weeditor.scss */
.selectWrapper {
  position: absolute;
  left: 0;
  width: 520px;
  height: 100%;
}
/* line 31, ../../src/sass/weeditor.scss */
.selectWrapper .select-menu {
  position: relative;
  width: 150px;
  height: 100%;
  float: left;
  overflow-x: hidden;
  overflow-y: auto;
  background-color: #666;
  transition: .5s;
}
/* line 40, ../../src/sass/weeditor.scss */
.selectWrapper .select-menu .nav_list {
  color: #ffffff;
  position: relative;
  top: 5px;
}
/* line 44, ../../src/sass/weeditor.scss */
.selectWrapper .select-menu .nav_list .menu_li {
  text-align: center;
}
/* line 46, ../../src/sass/weeditor.scss */
.selectWrapper .select-menu .nav_list .menu_li .menu_btn {
  line-height: 44px;
  cursor: pointer;
  display: block;
  font-size: 14px;
}
/* line 51, ../../src/sass/weeditor.scss */
.selectWrapper .select-menu .nav_list .menu_li .menu_btn:hover, .selectWrapper .select-menu .nav_list .menu_li .menu_btn.cur {
  background: #4A4A4A;
}
/* line 55, ../../src/sass/weeditor.scss */
.selectWrapper .select-menu .nav_list .menu_li ul li {
  line-height: 36px;
  cursor: pointer;
  font-size: 13px;
  color: #D8D6D7;
}
/* line 60, ../../src/sass/weeditor.scss */
.selectWrapper .select-menu .nav_list .menu_li ul li:hover, .selectWrapper .select-menu .nav_list .menu_li ul li.cur {
  background: #4E4E4E;
}
/* line 70, ../../src/sass/weeditor.scss */
.selectWrapper .select-show {
  float: left;
  width: 350px;
  height: 100%;
}
/* line 74, ../../src/sass/weeditor.scss */
.selectWrapper .select-show .inner {
  height: 100%;
  background-color: #fff;
  transition: .4s;
  position: relative;
}
/* line 81, ../../src/sass/weeditor.scss */
.selectWrapper .select-show .select-show-top {
  position: fixed;
  top: 55px;
  width: 350px;
  z-index: 1000;
  font-size: 14px;
  margin: 0 auto 8px auto;
  height: 50px;
  background: white;
  border-bottom: 1px solid #ccc;
}
/* line 93, ../../src/sass/weeditor.scss */
.selectWrapper .select-show .styleShow {
  height: 100%;
  padding-top: 52px;
  position: relative;
}
/* line 97, ../../src/sass/weeditor.scss */
.selectWrapper .select-show .styleShow .load_tip {
  text-align: center;
  padding: 20px 0;
  color: #707070;
}
/* line 102, ../../src/sass/weeditor.scss */
.selectWrapper .select-show .styleShow .materialWrap {
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
}

/* line 115, ../../src/sass/weeditor.scss */
.copyright_info {
  position: absolute;
  bottom: 30px;
  left: 0;
  width: 100%;
  color: rgba(255, 255, 255, 0.6);
  font-size: 12px;
  text-align: center;
  line-height: 20px;
}

/* line 125, ../../src/sass/weeditor.scss */
.menu_level2 {
  display: none;
}

/* line 128, ../../src/sass/weeditor.scss */
.menu_li1 .menu_level2 {
  display: block;
}

/* line 131, ../../src/sass/weeditor.scss */
.menu_level1 {
  position: relative;
}
/* line 133, ../../src/sass/weeditor.scss */
.menu_level1 .icon-all1, .menu_level1 .icon-moban, .menu_level1 .icon-tupian {
  font-size: 16px;
  position: absolute;
  top: 0;
  left: 20px;
}
/* line 139, ../../src/sass/weeditor.scss */
.menu_level1 .icon-tupian {
  font-size: 20px;
}
/* line 142, ../../src/sass/weeditor.scss */
.menu_level1 .icon-h3, .menu_level1 .icon-down {
  font-size: 18px;
  position: absolute;
  top: 0;
  right: 15px;
}

/* line 149, ../../src/sass/weeditor.scss */
.collectedThis {
  position: absolute;
  right: 10px;
  bottom: 5px;
  color: #FF6666;
  cursor: pointer;
  display: none;
  z-index: 20;
}

/* line 158, ../../src/sass/weeditor.scss */
.style-lists li {
  position: relative;
  background-color: #fff;
  overflow: hidden;
  border-bottom: 1px dotted #d9d9d9;
  padding: 10px 15px;
}
/* line 164, ../../src/sass/weeditor.scss */
.style-lists li.no_data {
  text-align: center;
  padding-top: 50px;
  border: 0;
  color: #b5b3b0;
}
/* line 169, ../../src/sass/weeditor.scss */
.style-lists li.no_data:hover {
  background: #fff;
  border: 0;
}
/* line 173, ../../src/sass/weeditor.scss */
.style-lists li.no_data .none_pic {
  margin-bottom: 10px;
}
/* line 177, ../../src/sass/weeditor.scss */
.style-lists li img {
  max-width: 100%;
}
/* line 180, ../../src/sass/weeditor.scss */
.style-lists li .style_pice {
  cursor: pointer;
}
/* line 183, ../../src/sass/weeditor.scss */
.style-lists li .style-mask {
  position: absolute;
  z-index: 1;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background-color: #000;
  opacity: 0.4;
  display: none;
}
/* line 194, ../../src/sass/weeditor.scss */
.style-lists li .style-oprs {
  position: absolute;
  z-index: 999;
  left: 0px;
  width: 100%;
  height: 100%;
  text-align: center;
  display: none;
}
/* line 202, ../../src/sass/weeditor.scss */
.style-lists li .style-oprs a.opr_btn {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 46px;
  height: 46px;
  line-height: 46px;
  background: orange;
  cursor: pointer;
}
/* line 215, ../../src/sass/weeditor.scss */
.style-lists li .style-oprs a.opr_btn:nth-child(1) {
  margin-right: 20px;
}
/* line 220, ../../src/sass/weeditor.scss */
.style-lists li:hover {
  background: #f3f3f3;
}
/* line 224, ../../src/sass/weeditor.scss */
.style-lists li:hover .collectedThis {
  display: block;
}

/* line 229, ../../src/sass/weeditor.scss */
.template_content {
  overflow-x: hidden;
  overflow-y: auto;
}

/* line 233, ../../src/sass/weeditor.scss */
.template_content ul li:hover .style-mask, .template_content ul li:hover .style-oprs {
  display: block;
}

/* line 236, ../../src/sass/weeditor.scss */
.template-lists {
  padding: 20px 10px;
}

/* line 239, ../../src/sass/weeditor.scss */
.template-lists li {
  float: left;
  height: 230px;
  width: 50%;
  position: relative;
  overflow: hidden;
  margin-bottom: 20px;
}
/* line 246, ../../src/sass/weeditor.scss */
.template-lists li .inner_con {
  width: 90%;
  height: 100%;
  margin: 0 auto;
  border: 1px solid #ccc;
  padding: 10px;
  position: relative;
}
/* line 254, ../../src/sass/weeditor.scss */
.template-lists li .cover_img {
  height: 100%;
  overflow: hidden;
}
/* line 257, ../../src/sass/weeditor.scss */
.template-lists li .cover_img img {
  width: 100%;
}
/* line 261, ../../src/sass/weeditor.scss */
.template-lists li.no_data {
  text-align: center;
  border: 0;
  padding-top: 20px;
  color: #b5b3b0;
}
/* line 267, ../../src/sass/weeditor.scss */
.template-lists li .template-mask {
  position: absolute;
  z-index: 1;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background-color: #000;
  opacity: 0.4;
  display: none;
}
/* line 279, ../../src/sass/weeditor.scss */
.template-lists li .template-oprs {
  position: absolute;
  z-index: 10;
  left: 0px;
  width: 100%;
  height: 100%;
  text-align: center;
  padding-top: 80px;
  display: none;
}
/* line 288, ../../src/sass/weeditor.scss */
.template-lists li .template-oprs a.opr_btn {
  color: #4A4A4A;
  display: inline-block;
  width: 46px;
  height: 46px;
  text-align: center;
  line-height: 48px;
  background: #fff;
  border-radius: 100%;
  cursor: pointer;
}
/* line 298, ../../src/sass/weeditor.scss */
.template-lists li .template-oprs a.opr_btn .iconfont {
  font-size: 24px;
  color: #4A4A4A;
}
/* line 302, ../../src/sass/weeditor.scss */
.template-lists li .template-oprs a.opr_btn:hover .iconfont {
  color: #1778B3;
}
/* line 307, ../../src/sass/weeditor.scss */
.template-lists li .template-oprs a.opr_btn:nth-child(1) {
  margin-right: 20px;
}
/* line 311, ../../src/sass/weeditor.scss */
.template-lists li .template-oprs .js_delmyTemplate {
  position: absolute;
  color: #fff;
  bottom: 20px;
  right: 10px;
  z-index: 15;
}
/* line 317, ../../src/sass/weeditor.scss */
.template-lists li .template-oprs .js_delmyTemplate .iconfont {
  font-size: 18px;
}
/* line 320, ../../src/sass/weeditor.scss */
.template-lists li .template-oprs .js_delmyTemplate:hover {
  color: #f24d4d;
  cursor: pointer;
}
/* line 327, ../../src/sass/weeditor.scss */
.template-lists li:hover .template-mask, .template-lists li:hover .template-oprs {
  display: block;
}
/* line 331, ../../src/sass/weeditor.scss */
.template-lists li:hover .collectedThis {
  display: block;
}

/* line 335, ../../src/sass/weeditor.scss */
.image-lists {
  padding: 0px 10px 0px;
}

/* line 338, ../../src/sass/weeditor.scss */
.image-lists li {
  float: left;
  width: 50%;
  overflow: hidden;
  position: relative;
  cursor: pointer;
}
/* line 344, ../../src/sass/weeditor.scss */
.image-lists li .pic_wrap {
  position: relative;
  height: 100px;
  border: 1px solid #ccc;
  width: 90%;
  margin: 0 auto 15px;
}
/* line 350, ../../src/sass/weeditor.scss */
.image-lists li .pic_wrap .opr_mask {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: none;
}
/* line 359, ../../src/sass/weeditor.scss */
.image-lists li .pic_wrap:hover .opr_mask {
  display: block;
}
/* line 364, ../../src/sass/weeditor.scss */
.image-lists li .js_del_img {
  position: absolute;
  width: 30px;
  height: 30px;
  right: 5px;
  bottom: 5px;
  cursor: pointer;
  line-height: 26px;
  text-align: center;
  display: none;
  font-size: 18px;
}
/* line 375, ../../src/sass/weeditor.scss */
.image-lists li .js_del_img i {
  position: relative;
  left: 3px;
}
/* line 381, ../../src/sass/weeditor.scss */
.image-lists li:hover .js_del_img {
  display: block;
}

/* line 387, ../../src/sass/weeditor.scss */
.close_template {
  background: #222;
  height: 100%;
  padding: 0 10px;
  line-height: 50px;
  color: #fff;
  font-size: 15px;
  position: relative;
  display: none;
}
/* line 396, ../../src/sass/weeditor.scss */
.close_template .js_close_template {
  position: absolute;
  right: 10px;
  top: 0px;
}

/* line 403, ../../src/sass/weeditor.scss */
.img_tab_head {
  width: 100%;
}
/* line 405, ../../src/sass/weeditor.scss */
.img_tab_head .tab_btn {
  float: left;
  color: #222;
  width: 50%;
  height: 100%;
  line-height: 50px;
  text-align: center;
}
/* line 412, ../../src/sass/weeditor.scss */
.img_tab_head .tab_btn a {
  color: #4A4A4A;
  cursor: pointer;
  line-height: 48px;
  border-bottom: 3px solid #fff;
  padding-bottom: 13px;
}
/* line 419, ../../src/sass/weeditor.scss */
.img_tab_head .tab_btn:hover a, .img_tab_head .tab_btn.cur a {
  border-bottom: 3px solid #666666;
}

/* line 426, ../../src/sass/weeditor.scss */
.img_search_bar {
  padding: 15px;
  display: none;
}
/* line 429, ../../src/sass/weeditor.scss */
.img_search_bar .select_wrap {
  float: left;
  width: 25%;
  height: 100%;
}
/* line 433, ../../src/sass/weeditor.scss */
.img_search_bar .select_wrap select {
  width: 100%;
  height: 100%;
  border: 0;
  color: #4a4a4a;
  font-family: "微软雅黑";
}

/* line 444, ../../src/sass/weeditor.scss */
.upload_img_wrap {
  padding: 15px 20px;
}
/* line 446, ../../src/sass/weeditor.scss */
.upload_img_wrap .btn {
  min-width: 80px;
}

/* line 453, ../../src/sass/weeditor.scss */
.editorWrapper {
  width: 500px;
  height: 100%;
  margin-left: 520px;
  position: relative;
}

/* line 460, ../../src/sass/weeditor.scss */
.quickeActions {
  position: absolute;
  top: 50%;
  right: -63px;
  background: #fff;
  padding: 15px 0 5px;
}
/* line 466, ../../src/sass/weeditor.scss */
.quickeActions .zeroclipboard-is-hover {
  color: #1778B3;
}
/* line 469, ../../src/sass/weeditor.scss */
.quickeActions li {
  width: 62px;
  font-size: 12px;
  background: #fff;
  margin-bottom: 15px;
  text-align: center;
  cursor: pointer;
  color: #888888;
}
/* line 478, ../../src/sass/weeditor.scss */
.quickeActions li:hover {
  color: #1778B3;
}
/* line 481, ../../src/sass/weeditor.scss */
.quickeActions li .iconfont {
  display: block;
  font-size: 20px;
}

/* line 488, ../../src/sass/weeditor.scss */
.publishWrapper {
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  width: 258px;
  background: #fff;
  padding: 10px;
  z-index: 1001;
}
/* line 497, ../../src/sass/weeditor.scss */
.publishWrapper .limit_counter {
  text-align: right;
  font-size: 12px;
  color: #a9a9a9;
}
/* line 502, ../../src/sass/weeditor.scss */
.publishWrapper .tip {
  font-size: 12px;
  color: #989898;
  margin-bottom: 5px;
}
/* line 507, ../../src/sass/weeditor.scss */
.publishWrapper ul li {
  margin-bottom: 10px;
}
/* line 509, ../../src/sass/weeditor.scss */
.publishWrapper ul li .icon-ceshizhaiyao {
  font-size: 20px;
}
/* line 513, ../../src/sass/weeditor.scss */
.publishWrapper .input_wrap {
  height: 28px;
  position: relative;
  background: #e6e6e6;
}
/* line 517, ../../src/sass/weeditor.scss */
.publishWrapper .input_wrap input, .publishWrapper .input_wrap select {
  width: 100%;
  height: 100%;
  border: 0;
  background: transparent;
}
/* line 523, ../../src/sass/weeditor.scss */
.publishWrapper .input_wrap input {
  padding-right: 42px;
}
/* line 527, ../../src/sass/weeditor.scss */
.publishWrapper .input_wrap .frm_counter {
  position: absolute;
  top: 0;
  right: 10px;
  font-size: 12px;
  line-height: 30px;
  color: #ccc;
}
/* line 536, ../../src/sass/weeditor.scss */
.publishWrapper .abstract_wrap {
  height: 85px;
  height: auto;
  border: 0;
}
/* line 540, ../../src/sass/weeditor.scss */
.publishWrapper .abstract_wrap textarea {
  width: 100%;
  height: 85px;
  border: 0;
  padding: 5px;
  color: #a9a9a9;
  background: transparent;
}
/* line 549, ../../src/sass/weeditor.scss */
.publishWrapper .abstract_wrap .frm_counter {
  top: 62px;
}
/* line 554, ../../src/sass/weeditor.scss */
.publishWrapper .label {
  font-size: 12px;
  color: #787878;
  margin-bottom: 5px;
}
/* line 558, ../../src/sass/weeditor.scss */
.publishWrapper .label .iconfont {
  margin-right: 10px;
}
/* line 562, ../../src/sass/weeditor.scss */
.publishWrapper .cut_line {
  height: 1px;
  width: 100%;
  border-bottom: 1px dashed #a8a8a8;
}
/* line 567, ../../src/sass/weeditor.scss */
.publishWrapper .upload_cover {
  height: 116px;
  background: #fff;
  position: relative;
}
/* line 571, ../../src/sass/weeditor.scss */
.publishWrapper .upload_cover .js_del_cover {
  position: absolute;
  right: 10px;
  top: 5px;
  font-size: 18px;
  color: #f24d4d;
  display: none;
  cursor: pointer;
}
/* line 581, ../../src/sass/weeditor.scss */
.publishWrapper .js_upload_cover {
  width: 52px;
  height: 52px;
  border: 1px dashed #B2B2B2;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #ccc;
  cursor: pointer;
  text-align: center;
  line-height: 48px;
}
/* line 593, ../../src/sass/weeditor.scss */
.publishWrapper .js_upload_cover .iconfont {
  font-size: 38px;
}
/* line 596, ../../src/sass/weeditor.scss */
.publishWrapper .js_upload_cover:hover {
  color: #1778B3;
  border: 1px dashed #1778B3;
}
/* line 601, ../../src/sass/weeditor.scss */
.publishWrapper .js_upload_cover input {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
}
/* line 610, ../../src/sass/weeditor.scss */
.publishWrapper .js_saveArticle {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  width: 100px;
}
/* line 616, ../../src/sass/weeditor.scss */
.publishWrapper .js_saveArticle i {
  margin-right: 5px;
  display: none;
}

/* line 623, ../../src/sass/weeditor.scss */
.style_select_wrap {
  line-height: 46px;
  padding: 0 20px;
}
/* line 626, ../../src/sass/weeditor.scss */
.style_select_wrap a {
  color: #4A4A4A;
  cursor: pointer;
}
/* line 629, ../../src/sass/weeditor.scss */
.style_select_wrap a img {
  width: 16px;
  position: relative;
  top: 3px;
}
/* line 634, ../../src/sass/weeditor.scss */
.style_select_wrap a:hover {
  color: #1778B3;
}
/* line 638, ../../src/sass/weeditor.scss */
.style_select_wrap .js_fileter .iconfont {
  font-size: 22px;
}
/* line 641, ../../src/sass/weeditor.scss */
.style_select_wrap .js_fileter {
  margin-right: 35px;
  position: relative;
  top: 5px;
}
/* line 645, ../../src/sass/weeditor.scss */
.style_select_wrap .js_fileter .third_select_wrap {
  position: absolute;
  top: 0px;
  left: -20px;
  width: 130px;
  display: none;
  padding-top: 27px;
}
/* line 652, ../../src/sass/weeditor.scss */
.style_select_wrap .js_fileter .third_select_wrap ul {
  background: #f2f2f2;
}
/* line 655, ../../src/sass/weeditor.scss */
.style_select_wrap .js_fileter .third_select_wrap ul li {
  line-height: 32px;
  padding-left: 20px;
  color: #888;
  border-left: 3px solid #f2f2f2;
}
/* line 660, ../../src/sass/weeditor.scss */
.style_select_wrap .js_fileter .third_select_wrap ul li:hover, .style_select_wrap .js_fileter .third_select_wrap ul li.cur {
  background: #D8D8D8;
  color: #4A4A4A;
  border-left: 3px solid #9B9B9B;
}
/* line 667, ../../src/sass/weeditor.scss */
.style_select_wrap .js_fileter:hover .third_select_wrap {
  display: block;
}
/* line 672, ../../src/sass/weeditor.scss */
.style_select_wrap .js_color_picker {
  color: #a0a09f;
  font-size: 18px;
  position: relative;
  top: 1px;
  margin-right: 10px;
}
/* line 679, ../../src/sass/weeditor.scss */
.style_select_wrap .js_reset_color {
  position: relative;
  top: 2px;
}
/* line 683, ../../src/sass/weeditor.scss */
.style_select_wrap .js_mycollects {
  margin-right: 5px;
}
/* line 685, ../../src/sass/weeditor.scss */
.style_select_wrap .js_mycollects i {
  margin-right: 5px;
}
/* line 688, ../../src/sass/weeditor.scss */
.style_select_wrap .js_mycollects:hover, .style_select_wrap .js_mycollects.cur {
  color: #FF6666;
}

/* line 695, ../../src/sass/weeditor.scss */
.template_select_wrap ul li {
  float: left;
  width: 33.333%;
  text-align: center;
  cursor: pointer;
}
/* line 700, ../../src/sass/weeditor.scss */
.template_select_wrap ul li a {
  line-height: 48px;
  border-bottom: 3px solid #fff;
  color: #4A4A4A;
  padding-bottom: 13px;
}
/* line 707, ../../src/sass/weeditor.scss */
.template_select_wrap ul li:hover a, .template_select_wrap ul li.cur a {
  border-bottom: 3px solid #666666;
}

@media (min-width: 1500px) {
  /* line 717, ../../src/sass/weeditor.scss */
  .editorWrapper {
    margin: 0 auto;
  }
}
